@model  Assignment1CarlosAlves.Models.Customer
@{
    ViewBag.Title = "Add a Customer";
}

<h2>Add Customers</h2>


@using (Html.BeginForm("AddCustomers", "Customers", FormMethod.Post))
{
    @*<div class="form-floating mb-3">
        @Html.TextBoxFor(c => c.CustomerID, new { @class = "form-control", id = "custId" })
        @Html.LabelFor(c => c.CustomerID, new { @for ="custId" })
    </div>*@
        @Html.TextBoxFor(c => c.Name, new { @class = "form-control" })
        @Html.TextBoxFor(c => c.Address, new { @class = "form-control" })
        @Html.TextBoxFor(c => c.City, new { @class = "form-control" })
        @Html.TextBoxFor(c => c.State, new { @class = "form-control" })
        @Html.TextBoxFor(c => c.ZipCode, new { @class = "form-control" })
        @Html.TextBoxFor(c => c.Phone, new { @class = "form-control" })
        @Html.TextBoxFor(c => c.Email, new { @class = "form-control" })


        <input type="submit" value="submit" />
        }
        
