@model  Assignment1CarlosAlves.Models.UpsertCustomerModel
@{
    ViewBag.Title = "Add or edit a Customer";
}

<h2>Add Customers</h2>


@using (Html.BeginForm("UpsertCustomers", "Customers", FormMethod.Post))
{
    

<div class="form-floating mb-3 ">
    @Html.TextBoxFor(gm => gm.Customer.Name, new { @class = "form-control", @type="name", @placeholder="Customer Name" })
   <label >Customer Name</label>

</div>
<div class="form-floating mb-3 ">

    @Html.TextBoxFor(gm => gm.Customer.Address, new { @class = "form-control", @type="address", @placeholder="Customer Address" })
    <label for="">Customer Address</label>
</div>
<div class="form-floating mb-3 ">
    @Html.TextBoxFor(gm => gm.Customer.City, new { @class = "form-control", @type = "name", @placeholder = "Customer Address" })
    <label for="">Customer City</label>

</div>
<div class="form-floating mb-3 ">
    @Html.TextBoxFor(gm => gm.Customer.State, new { @class = "form-control", @type = "stateCode", @placeholder = "Customer Address" })
    <label class="">Customer State Code</label>
</div>
<div class="form-floating mb-3 ">
    @Html.TextBoxFor(gm => gm.Customer.ZipCode, new { @class = "form-control", @type = "zipCode", @placeholder = "Customer Address" })
    <label class="">Customer Zip Code</label>
</div>
<div class="form-floating mb-3 ">
    @Html.TextBoxFor(gm => gm.Customer.Phone, new { @class = "form-control", @type = "Phone", @placeholder = "Customer Address" })
    <label class="">Customer Phone</label>
</div>
<div class="form-floating mb-3 ">
    @Html.TextBoxFor(gm => gm.Customer.Email, new { @class = "form-control", @type = "email", @placeholder = "Customer Address" })
    <label class="">Customer Email</label>
</div>
<div class="form-floating mb-3 ">
    <h5 class="text-light">State Code</h5>

    <select name="Customer.State" class="form-control">
        @foreach (var state in Model.States)
        {

            <option class="form-control" , type="email" , placeholder="State Code" value="@state.StateCode">@state.StateName</option>
        }
    </select>


</div>

<input type="submit" value="submit" class="btn btn-info" />
}




