@model List<Assignment1CarlosAlves.Models.Incident>
@{
    ViewBag.Title = "AllIncidents";
}

<h2>All Incidents Page</h2>
<button class="btn btn-primary"><a class="text-decoration-none link-light" href="/Incidents/UpsertIncidents">Add new incident</a></button>
<div class="row m-2">
    <div class="col-4">
        <input class="form-control" id="txtSearch" type="text" name="textSearch" placeholder="Search..." />
    </div>
    <div class="col-3">
        <input type="button" class="btn btn-primary btn-md" name="searchButton" value="Search" onclick="Sortable.Search();" />
    </div>
</div>

<table class="sortable table table-striped table-hover table-dark table-bordered">
    <thead class="table-light">
        <tr>
            <th onclick="sort(0)">Incident ID</th>
            <th onclick="sort(1)">Title</th>
            <th onclick="sort(2)">Desciption</th>
            <th onclick="sort(3)">Date Opened</th>
            <th onclick="sort(4)">Date Closed</th>
            <th onclick="sort(5)">Product Code</th>
            <th onclick="sort(6)">Tech ID</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var incident in Model)
        {
            <tr>
                <td>@incident.IncidentID</td>
                <td>@incident.Title</td>
                <td>@incident.Description</td>
                <td>@incident.DateOpened</td>
                <td>@incident.DateClosed</td>
                <td>@incident.ProductCode</td>
                <td>@incident.TechID</td>
                <td>
                    <button class="btn btn-primary"><a href="/Incidents/UpsertIncidents/@incident.IncidentID" class="text-decoration-none link-light">Edit</a></button>
                </td>

            </tr>
        }

    </tbody>
</table>

<script>
    Sortable.baseUrl = '/Incidents/AllIncidents/';

</script>