@model List<Assignment1CarlosAlves.Models.Incident>
@{
    ViewBag.Title = "AllIncidents";
}

<h2>All Incidents Page</h2>

<table class="table table-striped table-hover table-dark table-bordered">
    <thead class="table-light">
        <tr>
            <th>Incident ID</th>
            <th>Title</th>
            <th>Desciption</th>
            <th>Date Opened</th>
            <th>Date Closed</th>
            <th>Product Code</th>
            <th>Tech ID</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var incident in Model)
        {
        <tr>
            <td>@incident.IncidentID</td>
            <td>@incident.Title</td>
            <td>@incident.Description</td>
            <td>@incident.DateOpened</td>
            <td>@incident.DateClosed</td>
            <td>@incident.ProductCode</td>
            <td>@incident.TechID</td>

        </tr>
        }

    </tbody>
</table>